# O NOME DO ARQUIVO DEVE SER `.gitignore` (ATENTE-SE AO PONTO NO INÍCIO)

# VSCode repo settings
.vscode
package-lock.json
.stylelintrc.json
.eslintrc
.codeclimate.yml
.editorconfig
README.md
.trybe
.github
node_modules/